#login-main {
    padding-top: 2%;
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 30%;
}

#bg {
    background-image: url("../../../assets/images/bg.jpg");
    background-size: 100%;
    overflow-y: hidden;
    height: 100%;
}

.validation-error {
    display: block;
    width: 90%;
    margin: 0 auto;
    color: red;
}

.button {
    width: 100%;
}

.login-form {
    margin: 5%;
}

.login-input {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.login-input-div {
    width: 100%;
}

.login-title {
    margin: 5%;
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
    padding: 2%;
}

#registerClick {
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 20px;
}