<div id="bg">
    <div id="login-main">
        <mat-card class="login-card">
            <mat-card-title class="login-title">Register</mat-card-title>
            <mat-card-content>
                <form class="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <br/>
                    <div class="login-input-div">
                        <input class="login-input" matInput placeholder="Full name*" type="name" name="fullName" formControlName="fullName">

                        <small class="validation-error" *ngIf="!registerForm.controls.fullName.valid && registerForm.controls.fullName.touched">Invalid name.</small>
                        <br/><br/>
                    </div>


                    <div class="login-input-div">
                        <input class="login-input" matInput placeholder="Gym name*" type="name" name="gymName" formControlName="gymName">

                        <small class="validation-error" *ngIf="!registerForm.controls.gymName.valid && registerForm.controls.gymName.touched">Invalid gym name.</small>
                        <br/><br/>
                    </div>

                    <div class="login-input-div">
                        <input class="login-input" matInput placeholder="Contact*" type="name" name="contact" formControlName="contact">

                        <small class="validation-error" *ngIf="!registerForm.controls.contact.valid && registerForm.controls.contact.touched">Invalid gym name.</small>
                        <br/><br/>
                    </div>

                    <div class="login-input-div">
                        <input class="login-input" matInput placeholder="Email*" type="email" email name="email" formControlName="email">

                        <small class="validation-error" *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.touched">Invalid email.</small>
                        <br/><br/>
                    </div>


                    <div class="login-input-div">
                        <input class="login-input" matInput placeholder="Password*" type="password" name="password" formControlName="password">

                        <small class="validation-error" *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.touched">Invalid password.</small>
                        <br/><br/>
                    </div>
                    <!-- <div class="login-input-div">
                        <input class="login-input" matInput placeholder="Confirm password*" type="password" name="confirmPassword">

                        <small class="validation-error" *ngIf="password.value!=confirmPassword.value && confirmPassword.touched">Password does not match.</small>
                        <br/><br/>
                    </div> -->

                    <button [disabled]="!registerForm.valid" class="button" mat-raised-button color="primary">Register</button>

                    <div id="registerClick">
                        <a [routerLink]="['/login']">Back to login page</a>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>