.navbar_container {
    background-color: #f7f7f7;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 2px 1px rgba(0, 0, 0, 0.04), 0px 1px 5px rgba(0, 0, 0, 0.08);
    /* position: fixed; */
    margin-bottom: 2px;
    z-index: 6;
}

#logoTitle {
    margin-top: 25px;
    margin-left: -65%;
    color: #476176;
    font-weight: bold;
    cursor: pointer;
}

.navbar_button {
    color: #476176;
    text-align: left;
    text-decoration: none;
    padding-right: 10%;
}

.login_button {
    color: #1756bd;
    border: 2px solid #1756bd;
    text-align: left;
    text-decoration: none;
    margin-left: 20px;
}

.toolbar-contents {
    display: flex;
    width: 100%;
    margin-left: 4%;
    justify-content: space-between;
}

.logo_text {
    font-weight: bolder;
    font-size: 35px;
    color: #2597d5;
    font-family: "Sora", sans-serif;
}

.main_button {
    border: 1px solid #2597d5;
    border-radius: 6px;
    color: #2597d5;
}

.toolbar {
    height: 65px;
    align-items: flex-start;
}

.logo-img {
    padding-top: 8px;
    height: 60px;
}

.toolbar-buttons {
    margin-top: 1.2%;
    margin-right: 20px
}

.mat-button {
    font-size: 15px;
    font-weight: 370;
    font-family: "Noto Sans JP", sans-serif;
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    width: 175px;
    width: 175px;
}

@media only screen and (max-width: 601px) {
    .menu {
        margin-top: 20px;
    }
    .toolbar-buttons {
        display: none;
    }
    .logo-img {
        margin-left: -40px;
    }
}