<mat-toolbar class="navbar_container" id="navbar-section">
    <mat-toolbar-row class="toolbar">
        <div class="toolbar-contents">
            <a [routerLink]="['/admin/home']" (click)="checkToken()" mat-icon-button>
                <img class="logo-img" alt="GymManagerLogo" src="../../../../../assets/images/GymManagerIcon-removebg-preview.png" />
            </a>
            <div [routerLink]="['/admin/home']" (click)="checkToken()" mat-icon-button id="logoTitle">
                My Gym Manager
            </div>
            <div class="toolbar-buttons">
                <a [routerLink]="['/admin']" (click)="checkToken()" class="navbar_button" mat-button>Home</a>
                <a [routerLink]="['/admin/settings']" (click)="checkToken()" class="navbar_button" mat-button>Settings</a>
                <a (click)="logout()" style="cursor: pointer;" class="navbar_button" mat-button>Logout</a>
            </div>
        </div>

    </mat-toolbar-row>
</mat-toolbar>