<!-- <div id="login-main">
    <mat-card class="login-card">
        <mat-card-title class="login-title">Login</mat-card-title>
        <mat-card-content>
            <form class="login-form" #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
                <br/>
                <div class="login-input-div">
                    <input class="login-input" matInput placeholder="Email" type="email" email name="email" required #name="ngModel" ngModel required>

                    <span class="login-input" style="color: red;" *ngIf="name.invalid && name.touched">Invalid Email</span>
                    <br/><br/>
                </div>


                <div class="login-input-div">
                    <input class="login-input" matInput placeholder="Password" type="password" name="password" required #password="ngModel" ngModel minlength="6">

                    <span class="login-input" style="color: red;" *ngIf="password.invalid && password.touched">Invalid Password</span>
                    <br/><br/>
                </div>

                <button class="button" [disabled]="loginForm.invalid" mat-raised-button color="primary">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div> -->

<div>register works</div>