<!-- <app-navbar></app-navbar>
<app-login></app-login> -->
<!-- <ngx-ui-loader bgsColor: red, bgsOpacity: 0.5, bgsPosition: "bottom-right", bgsSize: 60, bgsType: "ball-spin-clockwise", blur: 2, delay: 0, fastFadeOut: true, fgsColor: "#fe5828", fgsPosition: "center-center", fgsSize: 60, fgsType: "square-jelly-box",
    gap: 24, logoPosition: "center-right", logoSize: 120, logoUrl: "", masterLoaderId: "master", overlayBorderRadius: "0", overlayColor: "rgba(40, 40, 40, 0.8)", pbColor: "red", pbDirection: "ltr", pbThickness: 3, hasProgressBar: false, text: "", textColor:
    "#FFFFFF", textPosition: "center-center", maxTime: -1 minTime: 300></ngx-ui-loader> -->

<ngx-ui-loader></ngx-ui-loader>
<router-outlet></router-outlet>