<div id="bg">
    <div id="login-main">
        <mat-card class="login-card">
            <mat-card-title class="login-title">Login</mat-card-title>
            <mat-card-content>
                <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <br/>
                    <div class="login-input-div">
                        <input class="login-input" matInput placeholder="Email*" type="email" name="email" formControlName="email">

                        <small *ngIf="!loginForm.controls.email?.valid && loginForm.controls.email?.touched" class="validation-error">Invalid Email</small>
                        <br/><br/>
                    </div>


                    <div class="login-input-div">
                        <input class="login-input" matInput placeholder="Password*" type="password" name="password" formControlName="password">

                        <small *ngIf="!loginForm.controls.password?.valid && loginForm.controls.password?.touched" class="validation-error">Invalid Password</small>
                        <br/><br/>
                    </div>

                    <button [disabled]="!loginForm.valid" class="button" mat-raised-button color="primary">Login</button>

                    <div id="registerClick">
                        <a [routerLink]="['/forget-password']">Forgot password</a>
                    </div>
                    <div id="registerClick">
                        <a [routerLink]="['/register']">Click here to register</a>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<!-- <mat-spinner></mat-spinner> -->