<mat-toolbar class="navbar_container" id="navbar-section">
    <mat-toolbar-row class="toolbar">
        <div class="toolbar-contents">
            <a [routerLink]="['/']" mat-icon-button class="pelto_logo">
                <img class="logo-img" alt="GymManager" src="assets/images/GymManagerLogo.jpg" />
            </a>
            <div class="toolbar-buttons">
                <a [routerLink]="['/login']" class="navbar_button" mat-button>Login</a>
                <a [routerLink]="['/Register']" class="navbar_button" mat-button>Register</a>
                <!-- <a class="navbar_button" href="https://m.youtube.com/channel/UCVgfyO6RnwjGvJ-xPVd2Thw" target="_blank" mat-button>Youtube</a>
                <a fragment="footer-section" class="navbar_button" href="#contact-section" class="navbar_button" mat-button>Contact Us</a>
                <a class="login_button" href="https://web.neetkorner.com/login" mat-button>Login</a> -->
            </div>
        </div>

    </mat-toolbar-row>
</mat-toolbar>