<mat-toolbar class="navbar_container" id="navbar-section">
    <mat-toolbar-row class="toolbar">
        <div class="toolbar-contents">
            <a [routerLink]="['/']" mat-icon-button class="pelto_logo">
                <img class="logo-img" alt="GymManager" src="assets/images/GymManagerLogo.jpg" />
            </a>
            <div class="toolbar-buttons">
                <a [routerLink]="['/login']" class="navbar_button" mat-button>About us</a>
                <a [routerLink]="['/Register']" class="navbar_button" mat-button>Contact us</a>
            </div>
        </div>

    </mat-toolbar-row>
</mat-toolbar>