<div class="container">
    <div class="button-section">
        <button (click)="openAddMemberDialog()" mat-raised-button color="primary" class="top-button">+Add Member</button>
    </div>
    <div>

        <mat-tab-group>
            <mat-tab label="All Members">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Member Name</th>
                            <th>Membership start date</th>
                            <th>Membership period</th>
                            <th>Membership Prize</th>
                            <th>Membership Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of allMembersList">
                            <td><img src="{{item.memberPic}}" class="image" alt="{{item.memberName}}-pic"></td>
                            <td><span>{{item.memberName}}</span></td>
                            <td><span>{{item.memStart}}</span></td>
                            <td><span>{{item.memPeriod}}</span></td>
                            <td><span>{{item.memPrize}}</span></td>
                            <td><span>{{item.memStatus}}</span></td>
                            <td>
                                <button mat-mini-fab color="Basic" type="button" (click)="removeItem(item)">
                            <mat-icon>delete</mat-icon>
                          </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
            <mat-tab label="Fee Defaulters">
                <table>
                    <thead>
                        <tr>
                            <th>Member Name</th>
                            <th>Membership start date</th>
                            <th>Membership period</th>
                            <th>Membership Prize</th>
                            <th>Membership Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of allMembersList">
                            <td><span>{{item.memberName}}</span></td>
                            <td><span>{{item.memStart}}</span></td>
                            <td><span>{{item.memPeriod}}</span></td>
                            <td><span>{{item.memPrize}}</span></td>
                            <td><span>{{item.memStatus}}</span></td>
                            <td>
                                <button mat-mini-fab color="Basic" type="button" (click)="removeItem(item)">
                        <mat-icon>delete</mat-icon>
                      </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
            <mat-tab label="New Members">
                <table>
                    <thead>
                        <tr>
                            <th>Member Name</th>
                            <th>Membership start date</th>
                            <th>Membership period</th>
                            <th>Membership Prize</th>
                            <th>Membership Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of allMembersList">
                            <td><span>{{item.memberName}}</span></td>
                            <td><span>{{item.memStart}}</span></td>
                            <td><span>{{item.memPeriod}}</span></td>
                            <td><span>{{item.memPrize}}</span></td>
                            <td><span>{{item.memStatus}}</span></td>
                            <td>
                                <button mat-mini-fab color="Basic" type="button" (click)="removeItem(item)">
                        <mat-icon>delete</mat-icon>
                      </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
        </mat-tab-group>


    </div>

</div>