table {
    width: 100%;
}

.validation-error {
    margin: 0 auto;
    color: red;
}

.container {
    padding: 3% 5% 5%;
}

.button-section {
    margin-bottom: 15px;
}

.top-button {
    margin-right: 10px;
}